

@import '../../../_common/styles/common.scss';



.frame1 {
	opacity: 0;
}

.t1{
	
	@include pos-scale(0, 50, .5);
}

.w{
	@include pos-scale(0, 50, .5);
}




#banner{	
	width: 320px;
	height: 50px;
}

