

@import '../../../_common/styles/common.scss';



.frame1 {
	opacity: 0;
}

.t1{
	@include pos-scale(0, 100, .5);
	@include pos-scale(0, 80, .5);
}

.w{
	@include pos-scale(0, 90, .5);
}

.person{
	@include pos-scale(0, 390, .5);
}


#banner{	
	width: 728px;
	height: 90px;
}

